.splash {
  /* background-image: url("../../../public/LoadingImage.JPG"); */
  background-position: center;
  background-size: cover;
  /* opacity: 0.9; */
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  line-height: 90vh;
  text-align: center;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  line-height: 90vh;
  text-align: center;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  animation: fadeout 5s ease-in-out forwards;
}
