body {
  font-family: sans-serif;
  padding-bottom: 100px;
  /* background-image: url(https://i.imgur.com/CeobHln.png); */

}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

.error-img {
  width: 700px;
  padding-top: 70px;
}

Button.scroll  {
  opacity: 70%;
  size: 20%;
  background-color: gray;


}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card-img-top.fluid {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

.d-block.w-100 {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

.img-fluid.rounded-start {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.img-thumbnail {
  color: #000;
  font-size: 12px;
  margin-bottom: 10px;
}


.cards{
  transition: all 0.2s ease;
  cursor: pointer;
}


.cards:hover{
  transform: scale(1.05);
}

.card-img-top {
  cursor: pointer;
}

img.rounded-circle {
justify-content: center;
object-position: center;
}
Button.scroll {
  opacity: 50%;
}

.map {
  height: 180px;
  width: 80px;
}

.leaflet-container {
  display: flex;
  width: 80%;
  height: 120vh;
}

.icon:hover {
  fill: #6f48eb;
}

Button.scroll {
  opacity: 50%;
}

.map {
  height: 180px;
  width: 80px;
}

.leaflet-container {
  display: flex;
  width: 80%;
  height: 120vh;
}

.icon:hover {
  fill: #6f48eb;
}
.carousel-caption.d-none.d-md-block{
  background-color:darkred;
  opacity: 75%;
  border-radius: 1rem;
  height:fit-content;
  }
  

