body {
  font-family: "PoppinsReg";
  padding-bottom: 40px;
  background-image: url("2.png");
}

@font-face {
  font-family: 'Helvetica 65';
  src: url('HelveticaNeue-Medium.woff2') format('woff2'),
      url('HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica 65';
  src: url('HelveticaNeue-Heavy.woff2') format('woff2'),
      url('HelveticaNeue-Heavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsMed';
  src: url('Poppins-Medium.woff2') format('woff2'),
      url('Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsReg';
  src: url('Poppins-Regular.woff2') format('woff2'),
      url('Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('Poppins-Bold.woff2') format('woff2'),
      url('Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 0.5em;
}

a.ex2:hover,
a.ex2:active {
  font-size: 120%;
}

a.ex2:hover,
a.ex2:active {
  font-size: 120%;
}

form div {
  margin: 1em;
  display: inline-block;
}

.underline {
  text-decoration: underline;
}

.error-img {
  width: 700px;
  padding-top: 70px;
}

Button.scroll {
  opacity: 70%;
  size: 20%;
  background-color: gray;
}

.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card-img-top.fluid {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

.d-block.w-100 {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.img-fluid.rounded-start {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.img-thumbnail {
  color: #000;
  font-size: 12px;
  margin-bottom: 10px;
}

.cards {
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  transform: scale(1.02);
}

.card-img-top {
  cursor: pointer;
}

img.rounded-circle {
  justify-content: center;
  object-position: center;
}

Button.scroll {
  opacity: 50%;
}

.leaflet-container {
  display: flex;
  border: 0.5px solid black;
  border-radius: 5px;
  width: 90%;
  height: 60vh;
  margin-bottom: 1rem;
}

.icon:hover {
  fill: #6f48eb;
}
.carousel-caption.d-none.d-md-block {
  background-color: darkred;
  opacity: 75%;
  border-radius: 1rem;
  height: fit-content;
}

h1, strong, h2{
  font-family: "PoppinsBold";
}


a, h4, h5{
  font-family: "PoppinsMed"
}

p, span, small, h6 , th, td, label, input{
  font-family: "PoppinsReg"
}

th, td {
  font-size:12px
}


.text-muted {
  font-size:14px
}
li{
  font-family: "PoppinsReg";
}

.btn{
  font-family: "PoppinsReg";
}

.accordion-button {
  font-family: "PoppinsMed";
}

.accordion-body, .btn.btn-primary{
  font-family: "PoppinsReg";
}
